.mainmenu{
    background: green;
    min-height: 52px;
}
.mainmenu ul{
    margin: 0;padding: 0;list-style: none;
}
.mainmenu ul li {
    float: left; border-left: red; border-right: red; position: relative
}
.mainmenu ul li:first-child{
    border-left: 0px solid;
}
.mainmenu ul li:last-child{
    border-right: 0px solid;
}

.mainmenu ul li a{
    color: blue;display: block;padding: 15px;text-decoration: none;
}
.mainmenu ul li a:hover{
    background: yellow;
}
.mainmenu ul li ul{
    position: absolute;left: 9999px;background: #27ae60;
}
.mainmenu ul li:hover ul{
    left: 0;
}
