body{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table{
    border: 1px solid #bdc3c7;
    border-collapse: collapse;
    margin-top: 60px;
    width: 800px;
    height: 200px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px;
}
tr{
    transition: all .2s ease-in;
    cursor: pointer;
}
tr:hover{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px;
}
th, td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
.header{
    background-color: #16a085;
    color: #ffffff;
}
.table-name{
    width: 100%;
    background-color: #16a085;
}
h2{
   padding: 0 0 0 3%; 
   color: white;  
}
@media only screen and (max-width: 960px){
    .container table{
        width: 90%;
    }
}