body{
    width:100%;
    font-family: 'Noto Sans KR', sans-serif;
  }
  section{
    display:block;
    text-align:center
  }
  article{
    display:inline-block;
    width:560px;
    position:relative;
    margin:50px auto;
    padding:26px;
    box-sizing:border-box;
    text-align:left
  }
  button {
    background: 0;
    border: 0;
    padding: 0;
    cursor: pointer
  }
 
  h3,
  ul{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box
  }
  .tit{
    margin:10px auto 0 auto;
    font-size:30px;
    font-weight:300;
  }
  .tit_sub{
    margin:0 0 24px 0;
    font-size:20px;
    color:red
  }
  li{
    display:block;
    position:relative;
    font-size:20px;
    margin:16px auto;
    padding:0;
    list-style:none;
    box-sizing:border-box;
    border:0
  }
  .list_style_arrow li:before{
    content:'';
    display:inline-block;
    width:6px;
    height:6px;
    margin:-5px 10px 0 0;
    vertical-align:middle;
    background:red;
    border-radius:50%
  }
  .list_style_arrow2 li:before{
    content:'';
    display:inline-block;
    width:8px;
    height:2px;
    margin:-5px 10px auto auto;
    vertical-align:middle;
    background:red
  }
  .list_style_arrow3 li:before{
    content:'';
    display:inline-block;
    width:0;
    height:0;
    border-left:6px solid orange;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    margin:-5px 10px auto auto;
    vertical-align:middle;
  }
  .list_style_arrow4 li:before{
    content:'';
    display:inline-block;
    width:6px;
    height:6px;
    margin:-5px 12px auto auto;
    vertical-align:middle;
    border-right:1px solid red;
    border-top:1px solid red;
    transform:rotate(45deg)
  }
  .list_style_arrow5 li:before{
    content:'';
    display:inline-block;
    width:6px;
    height:6px;
    margin:-5px 10px auto 4px;
    vertical-align:middle;
    border-right:1px solid blue;
    border-top:1px solid black;
    transform:rotate(45deg)
  }
  .list_style_arrow5 li:after{
    content:'';
    width:10px;
    height:1px;
    position:absolute;
    left:0;
    top:50%;
    background:blue;
  }