body{
    width:100%;
    font-family: 'Noto Sans KR', sans-serif;
  }
  section{
    display:block;
    text-align:center
  }
  article{
    display:inline-block;
    width:560px;
    position:relative;
    margin:50px auto;
    padding:26px;
    box-sizing:border-box;
    text-align:left;
    vertical-align:text-top
  }
  button {
    background: 0;
    border: 0;
    padding: 0;
    cursor: pointer
  }

  h3,
  ul{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box
  }
  .tit{
    margin:10px auto 0 auto;
    font-size:30px;
    font-weight:300;
  }
  .tit_sub{
    margin:0 0 24px 0;
    font-size:20px;
    color:red
  }
  .totop_arrow1{
    width:50px;
    height:50px;
    position:relative;
    background:#000;
    border-radius:50%;
    text-indent:-9999px;
  }
  .totop_arrow1:before,.totop_arrow1:after{
    content:'';
    width:18px;
    height:4px;
    position:absolute;
    top:48%;
    border-radius:5px;
    background:#fff
  }
  .totop_arrow1:before{
    left:21px;
    transform:translateY(-50%) rotate(45deg)
  }
  .totop_arrow1:after{
    right:21px;
    transform:translateY(-50%) rotate(-45deg)
  }
  .totop_arrow2{
    width:50px;
    height:50px;
    position:relative;
    background:#000;
    text-indent:-9999px;
  }
  .totop_arrow2:before{
    content:'';
    width:16px;
    height:16px;
    position:absolute;
    left:50%;
    top:20px;
    border-left:3px solid #fff;
    border-top:3px solid #fff;
    transform:translateX(-50%) rotate(45deg);
  }
  .ico_arrow{
    width:80px;
    height:80px;
    position:relative;
    text-indent:-9999px;
  
  }
  .ico_arrow:before{
    content:'';
    width:30px;
    height:30px;
    position:absolute;
    left:50%;
    top:50%;
    border-left:2px solid #000;
    border-top:2px solid #000;
    transform:translate(-50%,-50%) rotate(135deg);
  }
  .ico_arrow:after{
    content:'';
    width:42px;
    height:2px;
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    background:#000
  }
  .btn_close{
    width:50px;
    height:50px;
    position:relative;
    text-indent:-9999px;
  }
  .btn_close:before,.btn_close:after{
    content:'';
    width:50px;
    height:1px;
    position:absolute;
    left:50%;
    top:50%;
    border-radius:4px;
    background:#000
  }
  .btn_close:before{
    transform:translate(-50%,-50%) rotate(-45deg)
  }
  .btn_close:after{
    transform:translate(-50%,-50%) rotate(45deg)
  }