body{
    margin: 20px;
    padding: 0;
    /* image 가운데 정렬 */
    text-align: center;
}

/* 전체 갤러리를 담고 있는 div */
.container{
    /* flex와 마찬가지로 전체를 담는 container에 선언 */
    display: grid;
    /* 템플릿 형식은 1fr비율로 6번 반복하라 */
    grid-template-columns: repeat(6,1fr);
    /* 아이템이 명시적으로 선언한 범위를 벗어날 경우를 지정 */
    grid-auto-rows: 100px 300px;
    /* 그리드 사이의 간격 */
    gap: 10px;
    /* 배치하지 않은 아이템의 자동 배치방식 설정 */
    /* 각 행 축을 따라 차례로 배치, 빈 영역 메움 */
    grid-auto-flow: dense;
}
.gallery-item{
    width: 100%;
    height: 100%;
    position: relative;
}
.gallery-item .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* img-size 조정 */
.gallery-item .image img{
    width: 100%;
    height: 100%;
    /* 요소의 콘텐츠 크기를 어떤 방식으로 조절해 요소에 맞출 것인지, 가로 세로 비율 유지 */
    object-fit: cover;
    /* 요소의 콘텐츠 정렬 방식, 초기화 시킴 */
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.gallery-item:hover .image img{
    transform: scale(1.5);
}

.gallery-item .text{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    pointer-events: none;
    z-index: 4;
    transition:  .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-item:hover .text{
    opacity: 1;
    animation: move-down .3s linear;
    padding: 1em;
    width: 100%;
}

.w-1{
    grid-column: span 1;
}

.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column:  span 4;
}
.w-5{
    grid-column: span 5;
}
.w-6{
    grid-column: span 6;
}
.h-1{
    grid-row: span 1;
}
.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 3;
}
.h-4{
    grid-row: span 4;
}
.h-5{
    grid-row: span 5;
}
.h-6{
    grid-row: span 6;
}
@media screen and (max-width:500px){
    .container{
      grid-template-columns: repeat(1,1fr);
    }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
    grid-column:span 1;
    }
    
    .h-1,.h-2,.h-3,.h-4,.h-5,.h-6{
    grid-row: span 3;
    }
  }
  