:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

img {
  width: 3rem;
}

body {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #3f454d;
  font-weight: bolder;
}

.main {
  width: 26rem;
  display: flex;
  flex-direction: column;
}

.selectors {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.selectorBox {
  width: 4rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
}

.selectorBox:nth-child(4) {
  background-color: var(--color-blue);
}

.selectorBox:nth-child(5) {
  background-color: var(--color-yellow);
}

.selectorBox:nth-child(6) {
  background-color: var(--color-pink);
}

.list {
  margin-top: 2rem;
}

.listChild {
  background-color: #dfdfdf;
  margin-top: 1rem;
  padding: 0.2rem;
  border-radius: 0.4rem;
}
