body{
    margin: 0;
    padding: 0;
    font-family: lato;
}
a{
    font-size: 16px;
    text-transform: uppercase;
}
.nav-area{
    background: #333;
}
.nav-area::after{
    content: '';
    clear: both;
    display: block;
}
.nav-area ul{
    list-style: none;
    margin: 0;
    padding-left: 20%;
}
.nav-area > ul > li{
    float: left;
    position: relative;
}
.nav-area ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 15px 40px;
    display: block;
}
.nav-area ul li:hover a{
    background: #1a96f8;
}
.nav-area ul ul{
    position: absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 100%;
}
.nav-area ul li:hover > ul{
    display: block;
}
.nav-area ul ul li:hover a{
    background: #333333;
}
.nav-area ul ul li{
    position: relative;
    width: 250px;
}
.nav-area ul ul ul{
    top: 0;
    left: 100%;
}
.nav-area ul ul ul li:hover a{
    background: #000000;
}