body {
    margin: 0px;
    height: 100%;
}
.menu_div {
    background-color: #2980b9;
    height: 52px;
    text-align: center;
}
.menu_div ul li a {
    color:#97EAF4;
}
.menu_div_ul, .menu_div_ul ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    /* *display: inline; */
    /* zoom: 1; */
}
.menu_div_ul li {
    float:left;
    margin-left: -1px;
    /* z-index: 1; */
}

/* .Services_ul li{
    clear: both;
}
.Products_ul li {
    clear: both;
} */
.menu_div_ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
}
.menu_div_ul li a:hover {
    background:#3498db;
}
.Services_ul li{
    display: none;
    background-color: #2980b9;
    float: none;
    width: 88px;
}
.Products_ul li {
    display: none;
    background-color: #2980b9;
    float: none;
    width: 88px;
}

.menu_div_Services:hover > .Services_ul li {
    display: block;
}
.menu_div_Products:hover > .Products_ul li {
    display: block;
}
/* .menu_div_Login li a{
    margin-left: 100px;
} */
.Login_ul {
    float: right;
    display: block;
}
.Login_ul li {
    float: right;
    margin-right: 30px;
    list-style: none;
    display: block;
}
.Login_ul li a {
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}
.Login_ul {
    margin:0px
}
.Login_ul li:hover {
    background:#3498db;
}
@media(max-width:710px) {
    .Login_ul {
        display: none;
    }
}
@media(max-width:500px) {
    .menu_div_Home, .menu_div_Home, .menu_div_Services, .menu_div_Products, .menu_div_Voc, .menu_div_About{
        display: none;
    }
}

.Services_ul, .Products_ul {
    position:relative;
    z-index: 200;
}