.container {
    display:grid;

    /* grid-template-columns: 40% 60%; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;

    background: cadetblue;
}

.item {
    background: chocolate;
}

.item:nth-child(odd) {
    background: cornflowerblue;
}