body {
    font-size: 1rem;
    margin: 0; /*body의 바깥 여백을 없앰으로서 내비게이션 바가 페이지에 바짝 붙게 함*/
}

.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0; /*쓸 데 없는 공백 제거*/
    padding: 0; /*쓸 데 없는 공백 제거*/
    background-color: darkslategray;
    list-style-type: none; /*목록 기호 제거*/
}

.nav-item {
    padding: 15px;
    cursor: pointer;
}

.nav-item a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.nav-item:nth-child(1) {
    background-color: lightseagreen;
}

.nav-item:hover {
    background-color: lightsteelblue;
}

.nav-container {
    position: fixed;
    top: 0;
}

header {
    margin-top: 80px;
}